h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
  @media (max-width: 500px) {
    font-size: 32px;
  }
}

h2 {
  font-weight: bold;
}

h2, .description {
  font-size: 24px;
  line-height: 33px;
  @media (max-width: 500px) {
    font-size: 18px;
  }
}
h3 {
  font-size: 20px;
  font-weight: bold;
}
.description {
  font-weight: 400;
}
.small-title {
  font-size: 14px;
}

p {
  font-size: 20px;
  color: var(--primary);
}

input {
  background: var(--gray);
  border: none;
  padding: 6px 4px;
  border-bottom: 2px solid gray;
}

.big-title {
  font-weight: bold;
  font-size: 72px;
  @media (max-width: 1024px) {
    font-size: 60px;
  }
  @media (max-width: 500px) {
    font-size: 32px;
  }
}
.blue-btn, .btn-blue-arrow {
  background: #000091;
  border-radius: 0;
}
.btn:focus, input:focus {
  outline: none;
  box-shadow: none;
}

.btn-blue-arrow {
  display: flex;
  align-items: center;
  width: fit-content;

}
